@font-face {
  font-family: "syne";
  src: url("../../fonts/Syne-VariableFont_wght.ttf");
}
.what {
  color: #3d93ce;
  font-family: "syne";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.abt-cont {
  color: #fff;
  text-align: center;
  font-family: "Syne";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: capitalize;
}
.abt-back {
  background: linear-gradient(166deg, #000 0%, #050f1a 50%, #050f1a 100%);
}
* {
  background: transparent;
}
.chat-pic {
  max-width: 100%;
  height: auto;
}
